@font-face { font-family: ONRAMP; src: url('ONRAMP.ttf'); }

body {
    background-color:#e97770
;
    font-family:'Exo', sans-serif;
    margin:0;
    padding:0;
    color:#000000;
}
.main-title {
    font-family: 'Gloria Hallelujah', cursive;
    text-align:center;
    font-size:2.5em;
    margin: 0;
    margin-top: 10px;
    color:black;
    box-shadow: 0px 0px 20px 2px black;
    width: 600px;
}
.main-title-padding{
    padding-top: 10px; 
}

.games-in-a-cup-color {
    background-color: #FFF0A1;
}

.main-title-container {
    display:flex;
    justify-content: center;
    position: relative;
    top: -10px;
    z-index: 2; 
}

.games-region {
    position: relative;
    top:-90px;

}
.game-title-container {
    display:flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: #FFF0A1; 
}

.game-title-bottom {
    background-color: white;
    height: 20px; 
    top: -20px; 
    position: relative; 
    z-index: 1; 
}

.topnav {
    display:flex;
    flex-direction: row; 
    justify-content: center;
    width: 90%; 
    margin: auto;
    position: relative;
    z-index: 2;
}

.topnav a {
    text-decoration: none; 
    color:white; 
    font-size: 1em;
    transition: 0.3s ease-in-out;
    text-align: center;
    line-height: 2em; 
    border-radius: 20px; 
    padding: 5px;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #6358A1;     
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);

}


.topnav-background {
    background-color: #FFF0A1;
    position: relative;
    z-index: 10;
    top:-50px; 
}

.content-background {
    background-color: #FFF0A1; 
}

.between-topnav-and-content {
    height: 60px;
    background-color: #FFF0A1;
    position: relative;
    top:-50px;
}

.topnav-shadow {    
    box-shadow: 0px 0px 20px 2px black;
    position: relative;
    top: -50px;
    left: 0;
    width: 100%;
}
.topnav-motto {
    background-color: #FFF0A1;
    height: 120px;
    position: relative;
    top:-50px; 
    text-align: center; 
}

.topnav-motto-inner {
    position: relative;
    top:30px;
}
.topnav-button {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.pirate-mice-color {
    background-color: white;
}

.about-color {
    background-color: #b41813; 
}

.contact-color {
    background-color: antiquewhite; 
}

.pirate-mice-content {
    padding-top: 70px;
    top: -50px;
    position: relative;
}
.main-title-position {
    z-index: 2;
}